* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

.container {
  width: 1024px;
  margin: auto;
}

.upper-header {
  background-color: #0282f9;
}
.upper-header ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.upper-header ul li a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 9px;
  font-weight: bold;
}

nav {
  padding: 10px 0;
}
nav .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .header-nav .logo {
  width: 80px;
}
nav .header-nav .menu {
  list-style-type: none;
  display: flex;
}
nav .header-nav .menu li {
  margin-left: 15px;
}
nav .header-nav .menu li.active a {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
  padding-bottom: 37px;
}
nav .header-nav .menu li a {
  text-decoration: none;
  color: #303030;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
nav .header-nav .menu li a i {
  color: #0282f9;
}
nav .header-nav .searchbar input {
  text-align: right;
  border: 0;
  border-bottom: 1px solid #0282f9;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  height: 350px;
  background-size: cover;
}

.comics_list_section {
  background-color: #1c1c1c;
  position: relative;
}
.comics_list_section h1 {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #0282f9;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  top: -25px;
}
.comics_list_section .comics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0px;
}
.comics_list_section .comics-list .comic-book {
  width: calc(100% / 6 );
  padding: 0 20px;
  margin-bottom: 40px;
}
.comics_list_section .comics-list .comic-book .comic-title {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.comics_list_section .btn-container {
  text-align: center;
}
.comics_list_section .btn-container .load-btn {
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 40px;
  border: 0;
  background-color: #0282f9;
}