* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 100%;
}

.container {
  width: 1024px;
  margin: auto;
}

.upper-header {
  background-color: #0282f9;
}
.upper-header ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.upper-header ul li a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 9px;
  font-weight: bold;
}

nav {
  padding: 10px 0;
}
nav .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .header-nav .logo {
  width: 80px;
}
nav .header-nav .menu {
  list-style-type: none;
  display: flex;
}
nav .header-nav .menu li {
  margin-left: 15px;
}
nav .header-nav .menu li.active a {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
  padding-bottom: 37px;
}
nav .header-nav .menu li a {
  text-decoration: none;
  color: #303030;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
nav .header-nav .menu li a i {
  color: #0282f9;
}
nav .header-nav .searchbar input {
  text-align: right;
  border: 0;
  border-bottom: 1px solid #0282f9;
}

.jumbotron {
  background-image: url("../img/jumbotron.jpg");
  height: 350px;
  background-size: cover;
}

.comics_list_section {
  background-color: #1c1c1c;
  position: relative;
  padding: 20px 0;
}
.comics_list_section h1 {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #0282f9;
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  top: -25px;
}
.comics_list_section .comics-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px 0px;
}
.comics_list_section .comics-list .comic-book {
  width: calc(100% / 6 );
  padding: 0 20px;
  margin-bottom: 40px;
}
.comics_list_section .comics-list .comic-book .comic-title {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.comics_list_section .btn-container {
  text-align: center;
}
.comics_list_section .btn-container .load-btn {
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 40px;
  border: 0;
  background-color: #0282f9;
  cursor: pointer;
}

.shop-section {
  background-color: #0282f9;
  padding: 40px 0;
}
.shop-section .shop-list {
  display: flex;
  justify-content: space-around;
}
.shop-section .shop-list li {
  display: flex;
  align-items: center;
}
.shop-section .shop-list li img {
  height: 30px;
  width: auto;
  margin-right: 15px;
}
.shop-section .shop-list li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
}

.bg-footer {
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.bg-footer .upper-footer {
  display: flex;
}
.bg-footer .upper-footer .upper-footer-menu {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.bg-footer .upper-footer .upper-footer-menu .menu {
  list-style-type: none;
  padding-right: 55px;
  margin-bottom: 20px;
}
.bg-footer .upper-footer .upper-footer-menu .menu li h5 {
  text-transform: uppercase;
  color: white;
}
.bg-footer .upper-footer .upper-footer-menu .menu li a {
  text-decoration: none;
  color: grey;
  font-size: 10px;
  display: block;
}
.bg-footer .upper-footer .footer-logo img {
  width: 455px;
  position: absolute;
  top: -73px;
}
.bg-footer .copyright {
  color: grey;
  font-size: 10px;
}
.bg-footer .copyright a {
  color: #0282f9;
  text-decoration: none;
}
.bg-footer a {
  color: #0282f9;
  text-decoration: none;
  font-size: 10px;
}

.lower-footer {
  background-color: #303030;
  padding: 40px 0;
}
.lower-footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lower-footer-content .footer-btn a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #0282f9;
  padding: 15px 20px;
}
.lower-footer-content .dc-social .menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.lower-footer-content .dc-social .menu li {
  padding-left: 20px;
}
.lower-footer-content .dc-social .menu li h5 {
  color: #0282f9;
  text-transform: uppercase;
}