.upper-header {
    background-color: $primary_color;
    
    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;

        li {
            a {
                color: white;
                text-decoration: none;
                margin-left: 15px;
                font-size: 9px;
                font-weight: bold;
            }
        }
    }  
    
}


nav {
    padding: 10px 0;
    

    .header-nav {
        @include flex_jsb_center;

        .logo {
            width: 80px;
        }

        .menu {
            list-style-type: none;
            @include flex;

            li{
                margin-left: 15px;
                &.active a{
                    color:  $primary_color;
                    border-bottom: 5px solid $primary_color;
                    padding-bottom: 37px;
                }
                a {
                    text-decoration: none;
                    color: $secondary_color;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: bold;

                    i {
                        color: $primary_color;
                    }
                }
            }

        }

        .searchbar {
            input {
                text-align: right;
                border: 0;
                border-bottom: 1px solid $primary_color;
            }
        }
    }
}

.jumbotron {
    background-image: url('../img/jumbotron.jpg');
    height: 350px;
    background-size: cover;
}