// HOME
// Comics list section
.comics_list_section {
    background-color: #1c1c1c;
    position: relative;
    padding: 20px 0;

    h1 {
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        background-color: #0282f9;    
        display: inline-block;
        padding: 10px 20px;
        position: absolute;
        top: -25px;
    }

    .comics-list {
        @include flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 0px;
        

        .comic-book {
            width: calc(100% / 6 );
            padding: 0 20px;
            margin-bottom: 40px;

            
                
            .comic-title {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
            }   
        }
    }

    .btn-container {
        text-align: center;
        
        .load-btn {
            color: white;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: bold;
            padding: 10px 40px;
            border: 0;
            background-color: $primary_color;
            cursor: pointer;
        }
    }
}

// Shop section

.shop-section {
    background-color: $primary_color;
    padding: 40px 0;

    .shop-list {
        @include flex_jsa;
        

        li {
            @include flex_a_center;
            

            img{
                height: 30px;
                width: auto;
                margin-right: 15px;
            }

            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 10px;
            }
        }
    }
}

// COMICS

// comic cover
.banner-bar {
    height: 55px;
    position: relative;

    img {
        height: 229px;
        width: auto;
        position: absolute;
        top: -185px;
    }
}

// description container
.description-container {
    padding: 40px 0;
    @include flex_jsb;

    .comic-description {
        width: 65%;

        h1 {
            text-transform: uppercase;
            font-size: 20px;
        }

        .description-details{
            background-color: #55ba59;
            @include flex_jsb;
            font-size: 11px;
            font-weight: bold;
            padding: 10px 15px;
            margin: 15px 0px;

            .details-price {

                &-us{
                    color: #b0ef70;

                    span {
                        color: white;
                    }
                }
            }

            .availability {
                @include flex;

                &-available {
                    text-transform: uppercase;
                    border-right: 1px solid black;
                    padding-right: 12px;
                    color: #b0ef70;
                }

                &-check {
                    padding-left: 15px;
                    a {
                        color: white;
                    }
                }
            }
        }
        
        p {
            font-size: 11px;
            line-height: 20px;
            font-weight: bold;
        }
    }

    .advertisement {
        width: 30%;

        h6 {
            text-transform: uppercase;
            text-align: right;
        }
    }
}


// Comic details

.comic-details {
    @include flex_jsb;
    padding: 20px 0; 
    h5 {
        padding-bottom: 15px;
    }


    .talent {
        width: 48%;    
        
        &-artist {
            border-top: 1px solid lightgray;
        }

        &-artist,
        &-writers {
            @include comic-detail-tab;
            @include flex_jsb;

            div {
                width: 20%;
            }

            span {
                width: 70%;
                color: $primary_color;
            }
            
        }


    }

    .specs {
        width: 48%;
        
        &-series {
            border-top: 1px solid lightgray;

            span {
                text-transform: uppercase;
                color: $primary_color;
            }
        }

        &-series,
        &-price,
        &-onsale {
            @include comic-detail-tab;
            @include flex;

            div {
                width: 20%;
            }

            span {
                width: 70%;
                
            }            
        }

        
    }
    
}